<!DOCTYPE html>
<html>
  <head>
    <title>simple blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <div class="container">
      <div class="row align-items-end header">
          <div class="col">
            <h1>simple blog</h1>
          </div>
      </div>

      <div class="row">
        <div class="col text-right add-post">
          <%= link_to fa_icon("plus"),
                      new_post_path,
                      title: "New post",
                      data: { toggle: "tooltip",
                              placement: "bottom"} %>
        </div>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
